=border-button($color)
  +border(all, solid)
  @if $color == $secondary
    $color: $root-color
  @else
    color: $color
  border-color: $color
  background-color: transparent
  &:link,
  &:visited
    color: $color
  &:hover,
  &.hover,
  &.is-hover
    color: $color
    background-color: rgba($color, .2)
  &:active,
  &.active,
  &.is-active
    color: luma_contrast_color($color)
    background-color: $color

  // radio & checkbos
  &.is-radio,
  &.is-checkbox
    &:before
      box-shadow: $color 0 0 0 1px

  // checked
  &.is-checked
    color: luma_contrast_color($button-checked-color)
    background-color: $button-checked-color
    border-color: shade($button-checked-color, 20%)
    &:before
      box-shadow: luma_contrast_color($button-checked-color) 0 0 0 1px

  // select
  &.is-select
    &:after
      color: $color
      border-left: 1px solid $color

  // disabled
  &.is-disabled,
  &:disabled
    $color: if(luma_bright($color), shade($color, 20%), tint($color, 20%))
    color: rgba($color, .7)
    border-color: $color
