=super-bold-border-button($color, $size)
  $border-width: .25rem !default
  $text-color: luma_contrast_color($color)
  background-color: $color
  color: $text-color
  border: solid $border-width $default-text
  box-shadow: rgba(black, .4) 0 .0625rem 0 0
  transition: background-color .3s ease-in, box-shadow .3s ease-in
  font-weight: 800
  &:link,
  &:visited
    color: $text-color
  &:hover,
  &.hover,
  &.is-hover
    $color: if(luma_bright($color), shade($color, 15%), tint($color, 15%))
    color: $text-color
    background-color: $color
  &:active,
  &.active,
  &.is-active
    color: $text-color
    background-color: $color
    +top(1px)
    box-shadow: none

  // radio & checkbos
  &.is-radio,
  &.is-checkbox
    &:before
      box-shadow: $default-text 0 0 0 .125rem

  // checked
  &.is-checked
    color: $text-color
    background-color: $button-checked-color
    +top(1px)
    box-shadow: none
    &:before
      box-shadow: luma_contrast_color($button-checked-color) 0 0 0 2px

  // select
  &.is-select
    &:after
      color: rgba(luma_contrast_color($color), .7)
      border-left: 2px solid
      border-left-color: rgba($default-text, .7)

  // disabled
  &.is-disabled,
  &:disabled
    $color: if(luma_bright($color), shade($color, 15%), tint($color, 15%))
    color: rgba($text-color, .7)
    background-color: rgba($color, .7)
    border-color: rgba($default-text, .7)
