/////////////////
// UI colors
////////////////

$secondary: #ffffff !default
$primary: #4fc1e9 !default
$success: #8cc152 !default
$info: #37bc9b !default
$warning: #f6bb42 !default
$danger: #da4453 !default

/////////////////
// buttons
////////////////

$xs-button-font-size: .75rem !default
$sm-button-font-size: .875rem !default
$md-button-font-size: 1rem !default
$lg-button-font-size: 1.125rem !default
$xl-button-font-size: 1.25rem !default

$button-sizes: xs, sm, md, lg, xl !default
$button-color-names: secondary, primary, success, info, warning, danger !default
$button-styles: normal, border, bold-border, flat, flat-emboss, material, flat-round, super-bold-border, standard !default

$button-xs-height-ratio: 2.85 !default
$button-sm-height-ratio: 2.65 !default
$button-md-height-ratio: 2.85 !default
$button-lg-height-ratio: 2.85 !default
$button-xl-height-ratio: 2.85 !default

$button-checked-color: #4FC1E9 !default
$button-checked-icon-color: #FC6E51 !default

/////////////////
// SNS colors
////////////////

$twitter: #55acee !default
$facebook: #3b5998 !default
$hatena: #008FDE !default
$pocket: #f23c53 !default
$line: #2cbf20 !default
$google-plus: #f14c2a !default

/////////////////
// tab navs
////////////////

$tabs-nav-border-color: black !default
$tabs-nav-background-color: white !default
$tabs-nav-border-width: 2px !default
$tabs-nav-font-size: 16px !default
$tabs-nav-item-gutter: 8px !default
$tabs-nav-font-color: black !default
$tabs-nav-current-font-color: red !default
