.amazlet-box
  margin-bottom: 32px !important
  .amazlet-image
    float: none !important
    margin: 0 0 16px !important
    a[target="_blank"]
      &:after
        content: none
    img
      max-width: 100%
      width: 260px
      display: block
      +margin(horizontal, auto)
      margin-bottom: 0 !important
.amazlet-info
  text-align: center
.amazlet-name
  a
    text-decoration: none
    color: $root-color
.amazlet-detail
  font-size: 12px
  margin-bottom: 8px !important
.amazlet-sub-info
  float: none !important
  text-align: right
.amazlet-link
  display: none
.amazlet-powered-date
  display: none !important
