body
  @for $i from 0 through 20
    .is-margin-bottom-#{$i*4px}
      margin-bottom: $i*4px
    .is-margin-top-#{$i*4px}
      margin-top: $i*4px
    .is-margin-left-#{$i*4px}
      margin-left: $i*4px
    .is-margin-right-#{$i*4px}
      margin-right: $i*4px
    .is-margin-horizontal-#{$i*4px}
      +margin(horizontal, $i*4px)
    .is-padding-bottom-#{$i*4px}
      padding-bottom: $i*4px
    .is-padding-top-#{$i*4px}
      padding-top: $i*4px
    .is-padding-left-#{$i*4px}
      padding-left: $i*4px
    .is-padding-right-#{$i*4px}
      padding-right: $i*4px
    .is-padding-horizontal-#{$i*4px}
      +padding(horizontal, $i*4px)

  // horizontal-margin-0
  .is-horizontal-margin-0
    +margin(horizontal, 0)
  .is-xs-horizontal-margin-0
    +screen-xs
      +margin(horizontal, 0)
  .is-sm-horizontal-margin-0
    +screen-sm
      +margin(horizontal, 0)
  .is-md-horizontal-margin-0
    +screen-md
      +margin(horizontal, 0)
  .is-lg-horizontal-margin-0
    +screen-lg
      +margin(horizontal, 0)

  // horizontal-padding-0
  .is-horizontal-padding-0
    +padding(horizontal, 0)
  .is-xs-horizontal-padding-0
    +screen-xs
      +padding(horizontal, 0)
  .is-sm-horizontal-padding-0
    +screen-sm
      +padding(horizontal, 0)
  .is-md-horizontal-padding-0
    +screen-md
      +padding(horizontal, 0)
  .is-lg-horizontal-padding-0
    +screen-lg
      +padding(horizontal, 0)

// こっちに変更
body
  @for $i from 0 through 20
    .has-margin-bottom-#{$i*4px}
      margin-bottom: $i*4px
    .has-margin-top-#{$i*4}
      margin-top: $i*4px
    .has-margin-left-#{$i*4}
      margin-left: $i*4px
    .has-margin-right-#{$i*4}
      margin-right: $i*4px
    .has-margin-horizontal-#{$i*4}
      +margin(horizontal, $i*4px)
    .has-padding-bottom-#{$i*4px}
      padding-bottom: $i*4px
    .has-padding-top-#{$i*4px}
      padding-top: $i*4px
    .has-padding-left-#{$i*4px}
      padding-left: $i*4px
    .has-padding-right-#{$i*4px}
      padding-right: $i*4px
    .has-padding-horizontal-#{$i*4px}
      +padding(horizontal, $i*4px)

  // horizontal-margin-0
  .has-horizontal-margin-0
    +margin(horizontal, 0)
  .has-xs-horizontal-margin-0
    +screen-xs
      +margin(horizontal, 0)
  .has-sm-horizontal-margin-0
    +screen-sm
      +margin(horizontal, 0)
  .has-md-horizontal-margin-0
    +screen-md
      +margin(horizontal, 0)
  .has-lg-horizontal-margin-0
    +screen-lg
      +margin(horizontal, 0)

  // horizontal-padding-0
  .has-horizontal-padding-0
    +padding(horizontal, 0)
  .has-xs-horizontal-padding-0
    +screen-xs
      +padding(horizontal, 0)
  .has-sm-horizontal-padding-0
    +screen-sm
      +padding(horizontal, 0)
  .has-md-horizontal-padding-0
    +screen-md
      +padding(horizontal, 0)
  .has-lg-horizontal-padding-0
    +screen-lg
      +padding(horizontal, 0)
