=assign-position($direction, $n-px)
  @if $direction == top
    +top($n-px)
  @else if $direction == bottom
    +bottom($n-px)
  @else if $direction == left
    +left($n-px)
  @else if $direction == right
    +right($n-px)

@for $i from -8 through 8
  $n: $i*4
  $n-px: px_to_rem($n*1px)
  $directions: top, bottom, left, right
  $breakpoints: xs, sm, md, lg, xl, false
  $scopes: up, down
  @each $direction in $directions
    @each $breakpoint in $breakpoints
      @each $scope in $scopes
        @if $breakpoint
          .is-#{$direction}-#{$n}-#{$breakpoint}-#{$scope}
            @if $scope == up
              +media-breakpoint-up($breakpoint)
                +assign-position($direction, $n-px)
            @else if $scope == down
              +media-breakpoint-down($breakpoint)
                +assign-position($direction, $n-px)
            @else if $scope == only
              +media-breakpoint-only($breakpoint)
                +assign-position($direction, $n-px)
        @else
          .is-#{$direction}-#{$n}
            +assign-position($direction, $n-px)
