body
  // typoglaphy
  .is-ja
    +basic-font
  .is-bold-ja
    +bold-ja
  .is-serif
    +serif
  .is-sans-serif
    +sans-serif

  @for $i from 0 through 24
    $value: px_to_rem($i * 1px)
    .is-letter-specing-#{$i}
      letter-spacing: $value
    .is-letter-specing-center-#{$i}
      letter-spacing: $value * -1
      text-indent: $value

  .is-white-space-nowrap
    white-space: nowrap

  $breakpoints: xs, sm, md, lg, xl, false
  $positions: left center right
  $scopes: up, down, only
  @each $breakpoint in $breakpoints
    @each $position in $positions
      @if $breakpoint
        @each $scope in $scopes
          .is-text-align-#{$position}-#{$breakpoint}-#{$scope}
            @if $scope == up
              +media-breakpoint-up($breakpoint)
                text-align: $position
            @else if $scope == down
              +media-breakpoint-down($breakpoint)
                text-align: $position
            @else if $scope == only
              +media-breakpoint-only($breakpoint)
                text-align: $position
      @else
        .is-text-align-#{$position}
          text-align: $position
