.admin-form-radio
  +text-block(.8125rem 1.45, flex)
  +position(relative)
  padding-left: 1rem
  cursor: pointer
  input
    +position(absolute, left 0, top 0)
    opacity: 0
  &::before
    content: ""
    display: block
    +size(.75rem)
    border-radius: 50%
    +position(absolute, left 0, top 50%)
    margin-top: -.375rem
    background-color: $admin-background-shade
    border: solid .0625rem $admin-border-shade
    box-shadow: rgba(black, .2) 0 .0625rem .0625rem inset
  &.is-checked
    &::before
      border-color: $admin-form-check
    &::after
      content: ""
      display: block
      +size(.5rem)
      border-radius: 50%
      +position(absolute, left .125rem, top 50%)
      margin-top: -.25rem
      background-color: $admin-form-check
      box-shadow: rgba(black, .2) 0 0 0 .0625rem inset

.admin-form-radio__item
  +padding(horizontal, .5rem)

.admin-form-checkbox
  +text-block(.8125rem 1.45, flex)
  +position(relative)
  padding-left: 1rem
  cursor: pointer
  input
    +position(absolute, left 0, top 0)
    opacity: 0
  &::before
    content: ""
    display: block
    +size(.75rem)
    border-radius: .125rem
    +position(absolute, left 0, top 50%)
    transform: translate(0, -50%)
    background-color: $admin-background-shade
    border: solid .0625rem $admin-border-shade
    box-shadow: rgba(black, .2) 0 .0625rem .0625rem inset
  .is-one-checkbox &
    padding-left: 0
    +size(100% 1.875rem)
    +margin(vertical, -.375rem)
  .is-one-checkbox &::before
    left: 50%
    transform: translate(-50%, -50%)
    margin-left: 0
  &.is-checked
    &::before
      border-color: $admin-form-check
    &::after
      +fa("\f00c")
      +text-block(.75rem 1, $admin-form-check flex)
      align-items: center
      justify-content: center
      +size(.75rem)
      border-radius: 50%
      +position(absolute, left 0, top 50%)
      transform: translate(0, -50%)
  .is-one-checkbox &.is-checked::after
    left: 50%
    transform: translate(-50%, -50%)
    margin-left: 0
  &.is-lg
    &::before
      +size(1rem)
    &::after
      +size(1rem)
      font-size: 1rem
