=animation($values...)
  $animation-values: ()
  @each $value in $values
    $animation-value: ()
    $animation-name: ()
    $animation-duration: ()
    $animation-timing-function: ()
    $animation-delay: ()
    $animation-iteration-count: ()
    $animation-direction: ()
    $animation-fill-mode: ()
    $animation-play-state: ()
    @each $property in $value
      @if animation_name($property)
        $animation-name: $property
      @else if animation_duration($property)
        $animation-duration: $property
      @else if animation_timing_function($property)
        $animation-timing-function: $property
      @else if animation_delay($property)
        $animation-delay: nth($property, 2)
      @else if animation_iteration_count($property)
        $animation-iteration-count: $property
      @else if animation_direction($property)
        $animation-direction: $property
      @else if animation_fill_mode($property)
        $animation-fill-mode: $property
      @else if animation_play_state($property)
        $animation-play-state: $property
      $animation-value: $animation-name $animation-duration $animation-delay $animation-iteration-count $animation-timing-function $animation-direction $animation-fill-mode $animation-play-state
    $animation-values: append($animation-values, $animation-value, comma)
  animation: $animation-values

=keyframes($animation-name)
  @keyframes $animation-name
    @content
