=center-block($values)
  $block-width: optional_nth($values, 1)
  $block-height: optional_nth($values, 2)
  $block-z-index: optional_nth($values, 3)
  +size($block-width $block-height)
  +position(fixed, left 50%, top 50%, $block-z-index)
  margin-top: $block-height / 2 * -1
  margin-left: $block-width / 2 * -1

=horizontal-center-block($values)
  $block-width: optional_nth($values, 1)
  $block-z-index: optional_nth($values, 2)
  width: $block-width
  +fixed(left 50%, $block-z-index)
  margin-left: $block-width / 2 * -1

=size($value)
  $width: nth($value, 1)
  $height: $width
  @if length($value) > 1
    $height: nth($value, 2)
  @if is-size($height)
    height: $height
  @else
    @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin."
  @if is-size($width)
    width: $width
  @else
    @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin."

=overflow($values)
  $overflow-x: optional_nth($values, 1)
  $overflow-y: optional_nth($values, 2)
  @if equal_nth($values, 2)
    overflow-x: $overflow-x
    overflow-y: $overflow-y
  @else
    overflow: $overflow-x

=inline-block($value: null)
  display: inline-block
  vertical-align: $value

=clearfix
  &::after
    clear: both
    content: ""
    display: table
